@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("//cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
  padding-top: 50px;
  font-family: "Montserrat", sans-serif;
}

form {
  max-width: 800px;
  padding: 10px 20px;
  background: #ebf0f5;
  border-radius: 8px;
  margin: 5% auto;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-family: "BPG Arial Caps", sans-serif;
}

label {
  font-family: "BPG Arial Caps", sans-serif;
  font-size: 16px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #d2dee0;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 10px;
  max-height: 400px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: vertical;
  color: black;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  /* font-family: "BPG Arial Caps", sans-serif; */
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

legend p {
  margin-top: -10%;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 20px;
  width: 20px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}

#excel {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  border-radius: 5px;
  width: 30%;
  height: 15px;
  text-align: center;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  cursor: pointer;
  margin-left: 69.7%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

#excel {
  width: 30%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 69.7%;
  margin-top: 3%;
}

#excel:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#excel:focus {
  outline: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.buttons {
  margin: 10%;
  text-align: center;
}

.btn-hover {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
  margin-top: 3%;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.send-btn {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.status-btn {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  border-radius: 5px;
  width: 30%;
  height: 15px;
  text-align: center;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right,
    #1a0ba3,
    #3c64ba,
    #3081dd,
    #2b6cb6
  );
  box-shadow: 0 4px 15px 0 rgba(67, 23, 168, 0.75);
  width: 30%;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 69.7%;
  margin-top: 3%;
  margin-left: 35%;
  width: 30%;
  text-align: center;
}

.status-btn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.status-btn:focus {
  outline: none;
}

@media screen and (max-width: 580px) {
  form {
    width: 350px;
  }
}
